.logo {
	 background-size: 272px 92px;	 
  height: 92px;
  width: 272px;
  margin: 150px auto 20px auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}

a { font-size: 15px; 
	color: gray;
	padding: 4px;
	margin: 4px;
	text-decoration: none;
	float: right;
}

a:hover {
	text-decoration: underline; 
}

nav {
	float: right;
	    float: right;
    /* block-size: inherit; */
    margin: 10px;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    /* border: 10px solid black; */
    height: 140px;
}

.search {
	    /* width: 75px; */
    display: flex;
    margin: 40px auto 10px auto;
    height: 30px;
    width: 33%;
    font-size: 22px;
    font-family: Arial;
	box-shadow: 0px 2px 4px 0px #999;
}

.buttons {
	text-align: center;
}
#google_search {    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
}

#lucky {    height: 36px;
    line-height: 27px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
	
}

#google_search:hover {
	    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

#lucky:hover {
	    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #222;
}

footer {
	
	    background-color: #f2f2f2;
    border-top: 1px solid #aaa;
	    position: fixed;
    bottom: 0;
    width: 100%;
}

ul, li {
	list-style-type: none;
	display: inline;
	padding-right: 5px;
	margin: 4px 0px;

}

.left {
	float: left;
    margin: 4px 4px 4px 0px;
    padding-left: 0;

}

.right {
	float: right;
	padding-right: 20px;
}